/* COLORS

DARKS
Dark green: #1C5F22
Orange: #D98324

LIGHTS
Light green: #7FB069
White: #FDFDFD


FONTS

HEADERS
"El Messiri", sans-serif;

PAGE CONTENT
"Oxygen", sans-serif;

FOOTERS 


*/

body {
  margin: 0;
}

/* --- HEADER --- */

header {
  color: #1c5f22;
  background-color: #fdfdfd;
  align-items: center;
  text-align: center;
  border-bottom: 0.1em solid #7fb069;
  padding-bottom: 2em;
}

.header-container h1 {
  font-family: "El Messiri", sans-serif;
  font-size: 3rem;
  font-weight: 400;
}

.header-container p {
  font-family: "Oxygen", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

/* --- SECTION --- */

section {
  background-color: #fdfdfd;
}

/* --- SECTION TITLE --- */

.section-title-container {
  color: #1c5f22;
  margin: 2em;
  align-items: center;
  text-align: center;
}

.section-title-container h2 {
  font-family: "El Messiri", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 0 0 0 2em;
}

.section-title-container p {
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 0 0 0 1em;
}

/* --- VOLUNTEER FORM --- */

.volunteer-form {
  color: #1c5f22;
  font-family: "Oxygen", sans-serif;
  justify-content: center;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  border-bottom: 0.1em solid #7fb069;
}

.volunteer-col1,
.volunteer-col2 {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 2em;
  border: 0.1em solid #d98324;
}

.volunteer-day,
.volunteer-time {
  border: none;
}

textarea {
  resize: none;
}

/* --- MAPS SECTION --- */

.map {
  color: #1c5f22;
  font-family: "El Messiri", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 0 0 0 2em;
  text-align: center;
  margin: 0 0 0 2em;
}

.map-container {
  border: 2px solid #1c5f22;
  width: 25em;
  height: 20em;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.map-container iframe {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border: none;
}

/* --- CELEBS SECTION --- */

.celebs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;
}

.supporters {
  color: #1c5f22;
  font-family: "El Messiri", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
}

.supporters img {
  object-fit: cover;
  margin: 2em;
  padding: 2em;
  width: 2em;
  height: auto;
}
