/* 
COLORS
Dark green: #1C5F22
Orange: #D98324
Light green: #7FB069
White: #FDFDFD

FONTS
font-family: 'El Messiri', sans-serif;
font-family: 'Oxygen', sans-serif;
*/

body {
  margin: 0;
}

/* TYPOGRAPHY */

h1,
h2 {
  font-family: "El Messiri", sans-serif;
  color: #1c5f22;
  margin: 0;
}

p {
  font-family: "Oxygen", sans-serif;
  color: #252925;
  font-weight: 700;
}

@media (max-width: 600px) {
  p {
    font-size: 0.8rem;
  }
}

a {
  font-family: "Oxygen", sans-serif;
  color: #d98324;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
}

/* LAYOUTS */

/* HEADER */

.header-container {
  margin: 0 auto;
  max-width: 80%;
  padding: 8em 5em 2em 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-container {
  margin: 0;
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 400;
  font-size: 3.1rem;
}

.main-title-second-raw {
  margin-top: -0.45em;
  font-size: 7rem;
}

.sub-title p {
  margin: 0;
  margin-top: -2.3em;
  padding-left: 0.2em;
  font-size: 1.2rem;
  color: #d98324;
}

.main-image-container {
  width: 70%;
}

.main-image-container img {
  width: 100%;
}

@media (max-width: 600px) {
  .header-container {
    margin: 0;
    max-width: 100%;
    padding: 8em 0 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .title-container {
    margin: 0;
    max-width: 85%;
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
  }

  .main-title-second-raw {
    margin-top: -0.45em;
    font-size: 4.4rem;
  }

  .sub-title p {
    margin: 0;
    margin-top: -2.3em;
    padding-left: 0;
    padding: 0 0.8em;
    font-size: 0.7rem;
    color: #d98324;
    text-align: center;
  }

  .main-image-container {
    margin: 0 auto;
    margin-top: 2em;
    width: 80%;
  }

  .main-image-container img {
    width: 100%;
  }
}

/* SECTIONS (same settings for all sections)*/

section {
  border-top: 0.05em solid #7fb069;
}

.section-title-container {
  margin: 0 auto;
  max-width: 80%;
  padding: 5em 0;
}

h2 {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
}

@media (max-width: 600px) {
  h2 {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
  }

  .section-title-container {
    margin: 0 auto;
    max-width: 80%;
    padding: 2em 0;
  }
}

.section-content-container {
  margin: 0 auto;
  max-width: 80%;
  padding: 0 0 5em 0;
}

@media (max-width: 600px) {
  .section-content-container {
    padding: 0 0 2em 0;
  }
}

.button-container a {
  margin: 0;
  border: 0.25em solid #d98324;
  box-shadow: 0 0 0.18em 0 rgba(0, 0, 0, 0.25);
  border-radius: 22.5em;
  padding: 1.5em 1em;
}

.button-container a:hover,
.button-container a:focus {
  color: #fff;
  background-color: #d98324;
  border: 0.25em solid #d98324;
}

.button-container {
  max-width: 40%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .button-container a {
    margin: 2em 0;
    border: 0.2em solid #d98324;
    box-shadow: 0 0 0.18em 0 rgba(0, 0, 0, 0.25);
    border-radius: 22.5em;
    padding: 1em 0.5em;
  }

  .button-container a:hover,
  .button-container a:focus {
    color: #fff;
    background-color: #d98324;
    border: 0.25em solid #d98324;
  }

  .button-container {
    max-width: 100%;
    margin: 2em auto;
  }
}

/* SECTION --- 1 */
.section-1 .section-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-1 .text-container {
  margin: 0;
  max-width: 50%;
  text-align: center;
}

.section-1 img {
  width: 100%;
}

@media (max-width: 600px) {
  .section-1 .section-content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .section-1 .text-container {
    margin: 0;
    max-width: 90%;
    text-align: center;
  }

  .section-1 img {
    width: 100%;
  }
}

/* SECTION --- 2 */
.section-2 .section-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-2 .text-container {
  margin: 0;
  max-width: 50%;
  text-align: center;
}

@media (max-width: 600px) {
  .section-2 .section-content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
  }

  .section-2 .section-title-container {
    padding-top: 2em;
    padding-bottom: 0;
  }

  .section-2 h2 {
    font-size: 1.5rem;
  }

  .section-2 .text-container {
    margin: 0;
    max-width: 90%;
    text-align: center;
  }
}

/* SECTION --- 3 */
.section-3 .section-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-3 .image-container {
  max-width: 30%;
}

.section-3 img {
  width: 100%;
}

.section-3 .text-container {
  margin: 0;
  max-width: 50%;
  text-align: center;
}

.section-3 .button-container {
  margin: 0;
}

@media (max-width: 600px) {
  .section-3 .section-content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .section-3 h2 {
    font-size: 1.5rem;
  }

  .section-3 .section-title-container {
    padding-bottom: 0;
  }

  .section-3 .image-container {
    max-width: 90%;
  }

  .section-3 img {
    width: 100%;
  }

  .section-3 .text-container {
    margin: 0;
    max-width: 90%;
    text-align: center;
  }

  .section-3 .button-container {
    margin: 2em auto;
  }
}

/* SECTION --- 4 */
.section-4 .section-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-4 .text-container {
  margin: 0;
  max-width: 50%;
  text-align: center;
}

@media (max-width: 600px) {
  .section-4 .section-content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
  }

  .section-4 .section-title-container {
    max-width: 90%;
    padding-bottom: 0;
  }

  .section-4 .text-container {
    margin: 0;
    max-width: 90%;
    text-align: center;
  }
}
