/* 
COLORS
Dark green: #1C5F22
Orange: #D98324
Light green: #7FB069
White: #FDFDFD

FONTS
font-family: 'El Messiri', sans-serif;
font-family: 'Oxygen', sans-serif;
*/

body {
  margin: 0;
}

h1,
h2 {
  font-family: "El Messiri", sans-serif;
  color: #1c5f22;
}

/* TYPOGRAPHY */

p {
  font-family: "Oxygen", sans-serif;
  color: #1c5f22;
}

a {
  font-family: "Oxygen", sans-serif;
  color: #d98324;
  text-transform: uppercase;
  text-decoration: none;
}

/* LAYOUTS */

/* HEADER */
