/* COLORS

DARKS
Dark green: #1C5F22
Orange: #D98324

LIGHTS
Light green: #7FB069
White: #FDFDFD


FONTS

HEADERS
Shadows into light

PAGE CONTENT
Oxygen

FOOTERS 


*/

/* NAV BAR */
nav {
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: space-around;
}

/* Company logo */

.logo {
  margin: 0.5em;
  padding: 0.5em 1em;
}

.logo img {
  width: 5em;
  height: auto;
}

/* Navigation items */

.nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}

.nav-items a {
  color: #121212;
  font-family: ;
  font-weight: 400;
  font-size: 1rem;
  margin: 0 0 0 4em;
  transition: 1s ease-in-out;
}

.nav-items a:hover {
  border: 0.1em solid #343434;
  border-radius: 5em;
  transition: 1s ease-in-out;
  margin: 0;
  padding: 0.5em;
}

/* Navigation items buttons */

.nav-button {
  display: flex;
  align-items: center;
  padding: 0.5em;
  margin: auto 1em 0.5em 1em;
}

/* Navigation items list */

.nav-items ul {
  display: flex;
}

.nav-items ul li {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

/* Navigation search and log in images */

.nav-search {
  background-color: #454545;
  height: fit-content;
  width: auto;
  margin: 0 0 0 1em;
  padding: 1em 2em;
  border-radius: 25em;
}

.nav-contact {
  background-color: #454545;
  height: fit-content;
  width: auto;
  margin: 0 0 0 1em;
  padding: 1em 2em;
  border-radius: 25em;
}

.nav-search img,
.nav-contact img {
  width: 2em;
  height: 2em;
  display: block;
}

/* HEADER section */

header {
  max-width: 100%;
  background: #fff;
}

.head-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3em;
}

/* Header background image */

.head-container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("");
  background-size: cover;
  background-position: top center;
  opacity: 20%;
}

/* Header title(s) */

.title {
  position: relative;
  text-align: center;
  margin: 0;
}

.sub-title p {
  margin-top: -0.5em;
  position: relative;
  text-align: center;
  height: 100px;
  font-family: "Nunito", sans-serif;
  color: #121212;
  text-shadow: 2px 2px 5px #343434;
  font-weight: 400;
  font-size: 17px;
}

/* FOOTER SECTION */

footer {
  background: #7fb069;
  color: #d98324;
}

.footer-container {
  max-width: 70%;
  margin: 0 auto;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .footer-container {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
  }
}

.col {
  max-width: 30%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .col-3 {
    margin-bottom: 1.7em;
  }

  .col-2 {
    margin-bottom: 1.7em;
  }
}

.col-title {
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

.col-title p {
  margin: 0;
}

.col-1,
.col-2 {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.footer-container ul {
  padding-inline-start: 0;
  margin: 0;
}

.footer-container li {
  list-style: none;
}

.col-2 a {
  text-decoration: none;
  color: #868174;
}

.col-2 a:hover,
.col-2 a:focus {
  text-decoration: none;
  color: #868174;
}

.col-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container img {
  width: 30px;
  height: auto;
  margin: 0 1em;
}
